/* defaul.css */
/* (c) inoro 2019 GPL v3 */

body {
    margin: 0px;
    font-size: 17px;
    font-family: "My Courier New", "Courier New";
    background-color: #cbcbcb;
    /* background-color: #ffffff; */
    color: #3c3c3c;
}

/*############################################################################*/
#full_cont {
    box-sizing: border-box;
    background-color: #ffffff;
    min-width: 280px;
    width: auto;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;

    padding: 10px;
}

/*############################################################################*/
.default_hidden {display: none}
.ddm {margin: 17px auto} /* default_div_margin */
.td15 {width: 15%;}

/*############################################################################*/
.my_big_button,
.my_input_cont,
.my_changes_button_cont,
.my_list_cont,
.my_textarea_cont {
    box-sizing: border-box;
    width: auto;
    max-width: 550px;
}

/*############################################################################*/
.my_big_button {
    background-color: #4ba9e7;
    color: #ffffff;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
    border: 1px solid grey;

    cursor: pointer;
}

.my_big_button:hover {background-color: #3896d4;}
.my_big_button:active {background-color: #2583c1;}

/*############################################################################*/
.my_input_cont {
    margin: 17px auto;
    border: 1px solid grey;
    padding: 20px;
}

.my_text_input_cont {cursor: text;}

.my_input {
    width: 100%;
    border: none;
    background: none;
    text-align: center;

    font-family: "My Courier New", "Courier New";
    font-size: 20px;
    line-height: 20px;
}

.my_select_input {}
.my_text_input {}

/*############################################################################*/
.my_changes_button_cont {
    background-color: green;
    margin: 0px auto;
}

.my_changes_button_table {
    border-spacing: 0px;
    width: 100%;
}

.my_changes_button_table td {
    padding: 0px;
}

.my_changes_button {
    width: auto;

    color: #ffffff;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: left;

    padding: 20px;
    border: 1px solid grey;

    cursor: pointer;
}

/*############################################################################*/
.my_list_cont {
    margin: 0px auto;
    border: 1px solid grey;
    padding: 0px;
    padding-left: 0px;
    padding-right: 10px;
    text-align: left;
}

.my_list_cont ul {
    padding-left: 35px;
}
/*############################################################################*/
.my_textarea_cont {
    margin: 0px auto;
    border: 1px solid grey;
    padding: 0px;
    height: 500px;
}

.my_textarea {
    box-sizing: border-box;
    margin: 0px;
    border: none;
    resize: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    background: none;
    /* background-color: green; */
}

/*############################################################################*/
.purple_btnc {background-color: #ad79dd}
.purple_btnc:hover {background-color: #9a66ca}
.purple_btnc:active {background-color: #8753b7}

.blue_btnc {background-color: #4ba9e7}
.blue_btnc:hover {background-color: #3896d4}
.blue_btnc:active {background-color: #2583c1}

.green_btnc {background-color: #7bb230}
.green_btnc:hover {background-color: #69a01e}
.green_btnc:active {background-color: #548b14}

.orange_btnc {background-color: #fe6d40}
.orange_btnc:hover {background-color: #ed5b2c}
.orange_btnc:active {background-color: #d03e0f}

.grey_btnc {background-color: #A9A9A9}
.grey_btnc:hover {background-color: #808080}
.grey_btnc:active {background-color: #696969}
