/* defaul.css */
/* (c) inoro 2019 GPL v3 */

body {
    margin: 0px;
    font-size: 17px;
    font-family: "My Courier New", "Courier New";
    /* background-color: #cbcbcb; */
    background-color: #ffffff;
    color: #3c3c3c;
}

/*############################################################################*/
#full_cont {
    /* background-color: #ffffff; */
    min-width: 280px;
    width: auto;
    margin: 10px;
    text-align: center;

    padding: 10px;
}

/*############################################################################*/
