/* defaul.css */
/* (c) inoro 2019 GPL v3 */

body {
    margin: 0px;
    font-size: 17px;
    font-family: "My Courier New", "Courier New";
    background-color: #cbcbcb;
    /* background-color: #ffffff; */
    color: #3c3c3c;
}

/*############################################################################*/
#full_cont {
    box-sizing: border-box;
    background-color: #ffffff;
    min-width: 280px;
    width: auto;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;

    padding: 10px;
}

/*############################################################################*/
.default_hidden {display: none}

/* default_div_margin */
.ddm {margin: 17px auto}

/*############################################################################*/
.my_big_button {
    box-sizing: border-box;
    width: auto;
    max-width: 500px;

    background-color: #4ba9e7;
    color: #ffffff;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
    border: 1px solid grey;

    cursor: pointer;
}

.my_big_button:hover {background-color: #3896d4;}
.my_big_button:active {background-color: #2583c1;}

/*############################################################################*/
.my_input_cont {
    /* background-color: #f0f0f0; */
    box-sizing: border-box;
    width: auto;
    max-width: 500px;
    margin: 17px auto;
    border: 1px solid grey;
    padding: 20px;
}

.my_text_input_cont {cursor: text;}

.my_input {
    width: 100%;
    border: none;
    background: none;
    text-align: center;

    font-family: "My Courier New", "Courier New";
    font-size: 20px;
    line-height: 20px;
}

.my_select_input {}
.my_text_input {}

/*############################################################################*/
.my_changes_button_cont {
    background-color: green;
    width: auto;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0px auto;
}

.my_changes_button_table {
    border-spacing: 0px;
    width: 100%;
}

.my_changes_button_table td {
    padding: 0px;
}

.my_changes_button_td1 {

}

.my_changes_button_td2 {
    width: 15%;
}

.my_changes_button {
    width: auto;
    max-width: 500px;

    color: #ffffff;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: left;

    padding: 20px;
    border: 1px solid grey;

    cursor: pointer;
}

/*############################################################################*/
.purple_btnc {background-color: #ad79dd}
.purple_btnc:hover {background-color: #9a66ca}
.purple_btnc:active {background-color: #8753b7}

.blue_btnc {background-color: #4ba9e7}
.blue_btnc:hover {background-color: #3896d4}
.blue_btnc:active {background-color: #2583c1}

.green_btnc {background-color: #7bb230}
.green_btnc:hover {background-color: #69a01e}
.green_btnc:active {background-color: #548b14}

.orange_btnc {background-color: #fe6d40}
.orange_btnc:hover {background-color: #ed5b2c}
.orange_btnc:active {background-color: #d03e0f}
